
label {
	display: block;
    font-family: Roboto;
    font-size: 11px;
    text-transform: uppercase;
    color: grey;
    letter-spacing: -0.5px;
}


#canvassers-input, #managers-input {
	margin-top: 20px;
	display: inline-block;
    float: left;
    width: 50%;
}

#canvassers-input select, #managers-input select {
	height: 70px;
}

#locations-map {
    height: 150px;
    width: 450px;
}


#username-holder {
    font-size: 35px;
    font-family: Roboto;
    letter-spacing: 6px;
}

 .nav-item {
    border: 1px solid black;
    margin: 10px;
 }

 .header-container {
    font-size: 40px;
    text-align: center;
    border: 1px solid;
    font-family: Roboto;
}
.ui-datepicker-calendar td a {
    height: 60px;

}

.ui-datepicker-inline  {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#saveAvailabilitybtn {
    display: inline-block;
    padding: 15px 70px;
    border: 1px green solid;
    border-radius: 10px;
    background-color: #548854;
    color: white;
    cursor: pointer;
}

